<nav>
    <div class="nav-wrapper #7b1fa2 purple darken-2">
        <a href="/landing" class="brand-logo right">Welcome Gamer!</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/games"> Game Library </a></li>
            <li><a href="/profile"> Edit Profile </a></li>
            <li><a href="/qrcode">QR Code</a></li>
        </ul>
    </div>
</nav>