<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="/images/A-Couple-Playing-VIdeo-Games.png">
                <span class="card-title">Welcome to the Ultimate Gamers Portal (UGP)!</span>
            </div>
            <div class="card-content">
                <p>This portal is designed to be a social tool for video gamers.
                    Within the portal, gamers are allowed to manage their gaming library by adding a list of their video
                    games,
                    comments about their video games, edit their gaming profile, and allow gamers to share their library
                    with
                    other gamers that want to view their UGP account!</p>
            </div>
            <div class="card-action">
            </div>
        </div>
    </div>
</div>