<div>
    <h2> Greetings Gamer! Welcome to the Ultimate Gamers Portal (UGP)!</h2>
    <p> This portal is designed to keep a universal library of all consoles and video games that any gamer has ever owned. 
        Within the portal, gamers are allowed to add consoles, add accounts or gamertags, add video games, 
        add comments about their video games, and share their library with 
        other gamers that want to view the gamers UGP account.</p>
    <p> To get started, click on the sign up button to create your Ultimate Gamers Portal account! Already have an account? Just login and enjoy!</p>
    <h3>NOTE: Console selection is currently limited to 9th generation consoles and PC only!</h3>
</div>