<div>
    <h2> Greetings Gamer! Welcome to the Ultimate Gamers Portal (UGP)!</h2>
    <p> This portal is designed to be a social tool for video gamers.
        Within the portal, gamers are allowed to manage their gaming library by adding a list of their video games,
        comments about their video games, add photos or screenshots, and allow gamers to share their library with
        other gamers that want to view the gamers UGP account.</p>
    <p> To get started, click on the sign up button to create your Ultimate Gamers Portal account! Already have an
        account? Just login and enjoy!</p>
</div>