<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="loginEmail">Enter Email:</label>
        <input class="form-input" type="text" id="loginEmail" />
      </div>
      <div class="form-group">
        <label for="pwlogin">Enter Password:</label>
        <input class="form-input" type="password" id="pwlogin" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="signupUsername">Create Username:</label>
        <input class="form-input" type="text" id="signupUsername" />
      </div>
      <div class="form-group">
        <label for="signupEmail">Enter Email:</label>
        <input class="form-input" type="text" id="signupEmail" />
      </div>
      <div class="form-group">
        <label for="pwsignup">Create Password:</label>
        <input class="form-input" type="password" id="pwsignup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
</script>