<div>
  {{>primary}}
</div>
<div class="flex flex-col-reverse align-center justify-content m-auto md:max-w-4xl md:flex-row mt-24 p-10">
  <div id="Generate" class="w-full md:w-2/3 mr-24">
    <h1 class="text-3xl font-bold mb-4 md:text-4xl text-center">
      QR Code Generator
    </h1>
    <p class="mt-7">Enter your Url to generate your QR code</p>

    <form id="Form" class="mt-4">
      <input id="formData" type="text" placeholder="Enter your url"
        class="mr-3 focus:outline-none mb-5 rounded p-4 w-full border-2 border-gray-200" />

      <button id="button" class="bg-gray-600 rounded-md p-4 w-full text-white">
        Generate your QR code
      </button>
    </form>
  </div>
</div>
<!-- Where the generated QR code will be. -->
<div id="qr-code" class="m-auto"></div>

<script src="/js/qrcode.js"></script>