#qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 33px 0;
}

#Generate {
    background-color: #3498db;
    /* transition: height ease; */
    padding: 20px;
    border-radius: 2rem;
    height: 300px;
}

@media screen and (max-width: 414px) {
    #Generate {
        height: 400px;
    }
}